<ul class="browse-fonds">
  <% @root_nodes.each do |node| %>
    <li class="browse-fonds__item">
      <%= link_to node.name, archive_node_path(node) %>
    </li>
  <% end %>
</ul>
<div class="pagination">
  <%= paginate @root_nodes %>
</div>
