<h2>Impressum</h2>
<p>
  Starsong GmbH<br>
  Zur Marktflagge 3<br>
  10247 Berlin
</p>
<p>
  Handelsregister: HRB 260320 B, Amtsgericht Berlin-Charlottenburg<br>
  USt-IdNr.: DE 366513459<br>
  Geschäftsführer: Teal Bauer
</p>
<h3>Kontakt</h3>
<p>
  E-Mail: <a href="mailto:info@quellenportal.de">info@quellenportal.de</a><br>
  Tel: +49 30 81458954
</p>
<h3>Verantwortlich für den Inhalt</h3>
<p>
  Teal Bauer<br>
  Zur Marktflagge 3<br>
  10247 Berlin
</p>
