.archive-node-menu {
    display: flex;
    overflow-x: scroll;
}

.archive-node-mneu__list {
    list-style: none;
    padding-left: 0;
    padding-right: 24px;
}

.archive-node {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

    border-radius: 2px;
    padding: 5px;
    background-color: #ede6d8;
    color: #6b5d4f;
    overflow-wrap: anywhere;

    width: max-content;
}

.archive-node--selected {
    border: 2px solid #7a4419;
}

.archive-node__link {
    text-decoration: none;
    color: #6b5d4f;
}
.archive-node__link:hover {
    color: #7a4419;
}
