.result__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.pagination {
    text-align: center;
}

.result__highlight {
    background-color: rgba(218, 186, 117, 0.45);
}

.parents {
    display: flex;
    flex-wrap: wrap;
}

.parents__item {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

    border-radius: 2px;
    padding: 5px;
    background-color: #ede6d8;
    color: #6b5d4f;
    overflow-wrap: anywhere;
}

.parents__item__link {
    text-decoration: none;
    color: #6b5d4f;
}
.parents__item__link:hover {
    color: #7a4419;
}

.parents__separator {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

    padding-top: 5px;
    padding-bottom: 5px;
    color: #998a78;
}

.result {
    margin-bottom: 60px;
}

.result__title {
    overflow-wrap: anywhere;
}

.result__date {
    color: #6b5d4f;
}

.cite {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cite__label {
    font-weight: bold;
    margin-right: 5px;
    color: #6b5d4f;
}

.result__summary {
    overflow-wrap: anywhere;
}

.cite__button {
    background-color: #8b6c42;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.15s;
}
.cite__button:hover {
    background-color: #725834;
}

.cite__button--disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

@media (max-width: 600px) {
    .result__header {
        flex-direction: column;
    }
    .cite {
        flex-direction: column;
        align-items: flex-start;
    }
}
